<!DOCTYPE html>
<html>
<head>
  <title>Fleet & vehicle health management system - Glydel</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body ng-app="glydel" class="ng-cloak" ng-cloak>
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <!--/top-bar-->
  <% if current_user.present? %>
    <div class="top-bar">
      <div class="logo">
        <a href=""><img src="/assets/logo1.png" alt=""></a>
      </div><!--/navbrand-->
      <ul class="pull-right list-inline right-nav">
        <li class="notify dropdown">
          <a href="" data-toggle="dropdown" class="dropdown-toggle" ><i class="fa fa-bell" aria-hidden="true"></i>
          </a>
          <span class="badge">3</span> 
          <ul class="dropdown-menu extended">
            <div class="notify-arrow notify-arrow-green"></div>
            <li>
              <h4>New issue reported</h4>
              <p>Air conditioner not working in ABC12.</p>
            </li>
            <li>
              <h4>New issue reported</h4>
              <p>Cruise Control On Signal Malfunction in ABC24.</p>
            </li>
            <li>
              <h4>New service scheduled</h4>
              <p>Service schedule on 04 Nov.</p>
            </li>
          </ul>
        </li>
        <li class="dropdown useraccountmenu">
          <a href="" data-toggle="dropdown" class="dropdown-toggle" >
            <span class="avatar"><img src="/assets/user.png" alt=""></span>
            <span class="name"><%= current_user.email %></span>
          </a>
          
          <ul class="dropdown-menu extended">
            <div class="notify-arrow notify-arrow-green"></div>
            <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
            <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Manage Accounts</a></li>
            <li><a href="/users/sign_out"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/top-bar-->
    <!--/top-bar ends-->
    <!--/side-nav starts here-->
    <div class="side-nav">

     <ul class="list-unstyled menu">
       <li>
        <a ng-href="/dashboard">
          <i class="fa fa-home" aria-hidden="true"></i> <span>Dashboard</span>
        </a>
      </li>
       <li>
        <a href="/companies">
          <i class="fa fa-user" aria-hidden="true"></i> <span>Company</span>
        </a>
      </li>
       <li>
        <a href="/vehicles">
          <i class="fa fa-truck" aria-hidden="true"></i> <span>Vehicles</span>
        </a>
      </li>
       <li>
        <a href="/issues">
          <i class="fa fa-bug" aria-hidden="true"></i> <span>Issues</span>
        </a>
      </li>
       <li>
        <a ng-href="/schedules">
          <i class="fa fa-calendar" aria-hidden="true"></i> <span>Schedules</span>
        </a>
      </li>
       <li>
        <a href="/settings">
          <i class="fa fa-cog" aria-hidden="true"></i> <span>Settings</span>
        </a>
      </li>

     </ul><!--/invoice-menu-->
     <div class="footer-side-nav">
       <ul class="list-inline">
  	    <!-- <li>
  	      <a data-toggle="tooltip" data-placement="top" href="" title="Settings">
  	        <i class="fa fa-cogs"></i>
  	      </a>
  	    </li> -->
  	    <li>
         <a data-toggle="tooltip" data-placement="top" href="/users/sign_out" title="Logout">
           <i class="fa fa-power-off" aria-hidden="true"></i>
         </a>
       </li>
       <li class="left-toggle">
         <a class="sidebar-toggle-box" data-toggle="tooltip" data-placement="top" href="" title="Toggle navbar">
           <i class="fa fa-arrow-left" aria-hidden="true"></i>
         </a>
       </li>
       <li class="right-toggle">
         <a class="sidebar-toggle-box" data-toggle="tooltip" data-placement="top" href="" title="Toggle navbar">
           <i class="fa fa-arrow-right" aria-hidden="true"></i>
         </a>
       </li>
     </ul>
     </div><!--/footer-side-nav-->
    </div><!--/side-nav-->
    <!--/side-nav ends here-->
    <!--wrapper-content-->
    <div class="wrapper">
    	<%= yield %>
    </div>
    <div class="footer">
      <p>Powered by <img src="assets/glydel.png" alt=""></p>
    </div>
  <% else %>
    <%= yield %>
  <% end %>
</body>
</html>
