<div class="login-bk"></div>
<div class="overlay"></div>
<div class="white-box">
    <h2>Sign Up</h2>
    <form>
      <ul class="list-unstyled">
        <li>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="fa fa-user"></span></div>
              <input type="text" placeholder="User name" />
            </div>
          </div>
        </li>
        <li>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="fa fa-envelope"></span></div>
              <input type="text" placeholder="Email" />
            </div>
          </div>
        </li>
        <li>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="fa fa-mobile"></span></div>
              <input type="text" placeholder="Mobile number" />
            </div>
          </div>
        </li>
        <li>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="fa fa-map-marker"></span></div>
              <input type="text" placeholder="Locality" />
            </div>
          </div>
        </li>
        <li>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="fa fa-lock"></span></div>
              <input type="password" placeholder="password" />
            </div>
          </div>
        </li>
        <li>
          <input type="submit" value="Signup"> 
        </li>
        <li class="direction-link">
          Do you have an account? <a href="">Sign In</a>
        </li>
      </ul>
    </form>
  </div><!--/white-box-->

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
